#################################################################################################
#########################################  SCRIPT SETUP  ########################################
#################################################################################################

# HOST:                             It defines the host from OCARIoT API Gateway.
#
#                                   default value: https://localhost
HOST=https://localhost

# ADMIN_USERNAME:                   Username of the admin from platform.
#
#                                   default value: admin
ADMIN_USERNAME=admin

# ADMIN_PASSWORD:                   Password of the admin from platform.
#
#                                   default value: YOUR_PASSWORD
ADMIN_PASSWORD=YOUR_PASSWORD
